::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background-color: transparent;
}

body {
    overflow: hidden;
}

.wrapper {
    min-height: 400px !important;
    max-height: none !important;
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    right: 0;
}

.right-panel {
    width: initial !important;
    right: 0;
}